[2020-06-17 04:59] snwbrdr78 opened #1 "Device with no webcam gets stuck with the "I'm Ready" prompt"
Attendee/talent/moderator click's "I'm ready" to be prompted by their web browser to choose an audio/video device on a "closed laptop" reloads the page back to “I’m ready” in an endless loop.

Expected:
No page reload (ideally), and surface the error or handle the scenario where a user might not have any supported devices or not devices at all.

Steps To Reproduce:
1. Run the latest version of the

[2020-06-17 05:03] snwbrdr78 opened #2 "Multiple attendees using the same code causes issues"
Multiple attendees get the same attendee address and try to login.  This causes the moderator page to start having issues, as well as attendees can no longer get in, even with a new attendee address.

Expected:
Attendee with a duplicate address gets a prompt, to let them know that, “this attendee link is already in use, please reach out to your event coordinator for a new link.”  Or alternately, c

[2020-06-17 06:10] snwbrdr78 commented on #1
This has been fixed.

[2020-06-17 06:10] #1 closed, assigned to nobody

[2020-06-17 06:27] snwbrdr78 commented on #2
Update: Most recent release still allows for attendees with the same URL to kick each other, but the moderator experience is no longer broken from this.

[2020-06-26 21:41] snwbrdr78 opened #3 "Broadcaster (ec2 -> RTMP) has visible Firefox/Microphone watermarks"
Branch:  39b1fc8

The broadcaster displays a Firefox logo and microphone logo in the top/middle of the screen (see below).  I think the microphone would be removed, if the browser didn't ask for it/activate it.

Not sure about how to remove the Firefox logo when fullscreen.

<img width="247" alt="image" src="https://user-images.githubusercontent.com/51972467/85903199-9d5ae000-b7ba-11ea-90ce-c64fd6

[2020-07-03 17:12] zlavoie opened #4 "Deploy.js Is Not Built For Cross-Platform Usability"
amazon-chime-live-events\src\backend\serverless\deploy.js is not built for cross-platform usability. Currently this does not support windows machines. NPM Cross-spawn an be used to offer compatibility, but sections of the script such as:
[code]
and
[code]
will continue to fail.

[2020-07-12 02:35] erickvasilev opened #5 "deployment-stack failed to create"
Error shown during the deployment-stack creation in cloudformation:

![image](https://user-images.githubusercontent.com/18327978/87237530-f1f09300-c429-11ea-8fa1-8ed8c166b8cb.png)

The SAM has AdministratorAccess policy. Not sure why this is happened.

Thanks

[2020-07-12 14:01] codeslinger commented on #5
Can you post a screenshot of the first error that happened during creation? That is usually the cause of the rollback and would better help us understand what is going wrong. Thanks.

[2020-07-14 12:47] erickvasilev commented on #5
Hi,

It start fail on SiteDeploymentLayer

![image](https://user-images.githubusercontent.com/18327978/87427044-c5e43600-c612-11ea-9e10-4a863d002bea.png)

In Terminal, it stopped on this step:

![image](https://user-images.githubusercontent.com/18327978/87427235-0e9bef00-c613-11ea-8467-68fd72459a88.png)

Thanks

[2020-07-14 13:39] erickvasilev commented on #5
**SOLVED**

I learn that we need a unique deployment stack name, I'm using similar deployment stack name in the tutorial :

`-s live-event-deployment-stack`

it will try to create an exist S3 bucket name.

![image](https://user-images.githubusercontent.com/18327978/87430637-14e09a00-c618-11ea-95eb-c536c248d7c1.png)

Another things is the region, (currently) the deployment stack and S3 bucket must

[2020-07-14 14:17] #5 closed, assigned to nobody

[2020-07-16 17:31] caseymrm opened #6 "Architecture image attempting to load from corp.amazon.com"
The image at the bottom here: https://github.com/aws-samples/amazon-chime-live-events/tree/master/transcoding

Is broken for those of us not within Amazon.

[code]

[2020-07-16 17:31] caseymrm commented on #6
@ziyiz-amzn looks like you might own this image?

[2020-07-16 17:53] ziyiz-amzn commented on #6
Yep, I authored the README file in code.amazon.com, it was copied without changing the link. Will update.

[2020-07-21 02:38] naveedaziz opened #7 "Serverless Deployment not working"
Trying to deploy but this error occurred in all tries ...

Command sam failed with exit code 1 signal null
Uploading to 954276bde540ef29a7b5ddabc1f03673  1163 / 1163.0  (100.00%)
Uploading to dbfc6bdb796c6f50de4cc1b223820652.template  10184 / 10184.0  (100.00%)
Error: Failed to create/update the stack: liveeventdeploymentstack-broadcast, Waiter StackCreateComplete failed: Waiter encountered a term

[2020-07-22 21:36] naveedaziz commented on #7
Waiting... please reply

[2020-07-22 21:45] ziyiz-amzn commented on #7
Hi Naveed, can you make sure you have docker installed and docker daemon is running on your computer?

[2020-07-23 01:56] naveedaziz commented on #7
Yes its installed and running.
Docker version 19.03.8, build afacb8b

[2020-07-23 03:28] ziyiz-amzn commented on #7
Could you please attach what steps you have done and which step it fails? Also could you attach the full log please?

[2020-07-23 20:52] naveedaziz commented on #7
nidobda@MacBook-Pro serverless % node ./deploy.js -r us-east-1 -b mdliveversion4 -s mdsliveversion4

,6.13.4
,
,aws-cli/2.0.31 Python/3.7.4 Darwin/19.5.0 botocore/2.0.0dev35
,
,SAM CLI, version 0.53.0
,
Installing node dependencies
,audited 1049 packages in 5.548s

43 packages are looking for funding
  run `npm fund` for details

found 21 low severity vulnerabilities
  run `npm audit fix` to fix t

[2020-07-23 21:36] p-foucht commented on #2
There's currently no support for attendees using the same "credentials." This solution expects that the links are distributed to trusted attendees and not shared.

Breaking the moderator experience is problematic, but from your comment it seems to be working now. Feel free to re-open the issue if you have other comments.

[2020-07-23 21:36] #2 closed, assigned to nobody

[2020-07-24 00:34] devalevenkatesh commented on #7
Hello,

I tried the serverless deployment and everything ran fine for me. Few things, I did not had earlier created any stack using this script. I freshly cloned the repo and as suggested on the README [here](https://github.com/aws-samples/amazon-chime-live-events/tree/master/src/backend/serverless#preparation) created a EC2 instance, kept it running for few minutes, terminated it, turned off the

[2020-07-24 02:21] naveedaziz commented on #7
I am using MacPro Catalina 10.15.5, on which system and OS u have tried to install as above. Might be installation has issues with Mac OS

[2020-07-24 23:17] devalevenkatesh commented on #7
Mine is Mojave 10.14.6. Also did you checked re-installing by cleaning up first, also have you checked if the docker is running (which you have said it is) and has the project folder shared with it?

[2020-07-27 23:28] tofferf opened #11 "GenerateEventFunction returns error"
I ran deploy.js and uploaded my csv files to the appropriate s3 buckets.  When I try to invoke GenerateEventFunction I get the following error:
[code]

[2020-07-28 22:29] michhyun1 opened #12 "test issue"
this is a test

[2020-07-28 22:30] #12 closed, assigned to nobody

[2020-07-28 22:38] michhyun1 opened #13 "test"

[2020-07-28 22:43] #13 closed, assigned to nobody

[2020-07-28 22:43] michhyun1 opened #14 "test"

[2020-07-28 22:43] #14 closed, assigned to nobody

[2020-07-31 19:15] tofferf commented on #11
@ziyiz-amzn are you able to duplicate this?

[2020-07-31 20:02] ziyiz-amzn commented on #11
Taking a look, will update you soon.

[2020-07-31 20:09] ziyiz-amzn commented on #11
Can you confirm that the csv file is formatted correctly? Could you provide us an example csv file?

[2020-08-06 20:14] ziyiz-amzn commented on #6
Updated. Closing this issue.

[2020-08-06 20:14] #6 closed, assigned to ziyiz-amzn

[2020-08-12 15:28] realharry opened #16 "Serverless backend deploy throws samtranslator.model.exceptions.InvalidDocumentException"
I tried deploying the backend (src/backend/serverless) following the README instructions, but ran into some kind of permission issues. I am not sure if it's specific to me or a general issue. The error happens at line 2054 of template.yml:

[code]

I'm not entirely sure what this account `375983427419` is.

Here's the error message:

[code]

[2020-08-12 17:13] realharry commented on #16
I am not very familiar with SAR (I've never used it), but the error seems a bit confusing. The error points out the permissions that don't even exist - https://docs.aws.amazon.com/serverlessrepo/latest/devguide/serverlessrepo-api-permissions-ref.html. Anyways, adding those permissions to the IAM user solved this particular issue. Still blocked with other errors, but at least this is no longer a pr

[2020-08-12 17:13] #16 closed, assigned to nobody

[2020-08-20 14:49] opsvibhuti opened #17 "Unable to open the live events generated urls in iframe"
hi , we have build the package , deployed and got the generated urls for moderator, attendee, talent and broadcaster.  We see following issues
1. We are unable to open the generated urls in iframe .
2. We put multiple talent names in the csv, but got meeting url on for one in S3.
3. Attendee dont see the live event but a video player showing " Name not playing video" , but broadcaster url working

[2020-08-20 18:28] michhyun1 commented on #17
Hey there, thanks for your patience.
At this time, we only support one talent, hence the one talent in S3. Also, please don't join the meeting using the broadcaster url, only with Attendee/Moderator urls. Can you be a bit more specific about the iframe issue you are facing?

thanks

[2020-08-21 11:04] opsvibhuti commented on #17
hi Michael ,

thanks for the update !
Its not completely clear from your reply though , let me share more details for each of the three above

1 : didnt hear back on this one
2 : No problem , we can use attendee/moderator role for talent. No big deal.
3 : " please don't join the meeting using the broadcaster url, only with Attendee/Moderator urls. "
Let me write our screnario. We are going to have

[2020-08-21 12:32] prabhupadhayay opened #18 "Unable to run cloudfront demo url in Iframe"
I want to run this demo url in Iframe and facing some issue.It is not running in iframe.although it is running fine when used externally.Attached screenshot for this too-

![Screenshot_1](https://user-images.githubusercontent.com/51395692/90890825-58c57c80-e3d8-11ea-80d0-19951a4cc592.png)

[2020-08-21 12:33] prabhupadhayay commented on #18
I got these urls auto generated to run live events

[2020-08-22 11:59] opsvibhuti commented on #17
hi any update ?

[2020-08-24 18:19] opsvibhuti commented on #17
any update on above by anyone, most importantly iframe ?

[2020-08-25 18:08] p-foucht commented on #18
The demo does not support rendering within an iframe. You would likely need to play around with the CSP policies to get it to work.

I believe [this](https://github.com/aws-samples/amazon-chime-live-events/blob/39b1fc8115dcc52ffdac4dbb8c8d7ef57a6e32d9/src/backend/serverless/src/addResponse.js#L10) would be a good place to look

[2020-08-25 18:33] michhyun1 commented on #17
Thanks for your patience.

1. For using the generated URLs in an iframe, we don't support this in this demo, but we'd be more than happy to help debug any issues regarding this. You would likely need to play around with the CSP policies to get it to work.

I believe [this](https://github.com/aws-samples/amazon-chime-live-events/blob/39b1fc8115dcc52ffdac4dbb8c8d7ef57a6e32d9/src/backend/serverless/s

[2020-08-25 22:54] nicklera1 commented on #17
Hi @opsvibhuti ,

I just to add a little bit more context as to what "Broadcaster" URL is and what it's used for.
As part of the LiveEvents deployment we also deploying [Transcoder](https://github.com/aws-samples/amazon-chime-live-events/tree/master/transcoding) which is basically an EC2 instance running browser where we open "Broadcaster" url and run OBD (screen capture) of the given event and th

[2020-08-26 20:48] tofferf commented on #11
Attendees.csv:
[code]

Moderators.csv:
[code]

Talents.csv:
[code]

[2020-08-27 08:00] prabhupadhayay commented on #18
Thanks @p-foucht
Thanks for the solution. It worked for me

[2020-08-27 08:00] #18 closed, assigned to nobody

[2020-08-27 19:49] #11 closed, assigned to nobody

[2020-08-31 08:25] opsvibhuti commented on #17
hi Nickolay,
hi Michael ,

We were able to fix 1 and 2 , thanks ! but still stuck on #3 and one more question on pricing.

#3 .
let me rewrite in simple words. How do we stream the meeting to extenal users like any external video player in a website etc to watch , like zoom give us a url to stream the webinar to any rtmp ?

---------Additional Note -------
Again in core, As per our screnario. We a

[2020-08-31 16:59] opsvibhuti commented on #17
#6. We have observed that if we run an event and if it remain idle for some time ( Can we get what time limit value is on time? ), then it stops working. Can you we keep it alive until we manually turn off medialive etc ?

Regards !

[2020-09-01 20:17] ericcox3 commented on #17
Hello opsvibhuti,
To answer your question about pricing, an "attendee", whether or not they can raise their hand, counts as a viewer of the Elemental stream.  They are not in the Chime meeting so they're not charged at the Chime rate.  The only Chime attendees in your scenario are Speaker and Moderator, and they will be charged the Chime rate ($0.0017 per attendee per minute at the time of writing

[2020-09-01 20:26] michhyun1 commented on #17
In response to 3, we don't support this type of "public url," that can be shared with anyone as part of this demo. You should be able to use an arbitrary attendee url for multiple attendees and they should all be able to see the broadcast, but they may not be able to join the meeting.

In response to 6: There are certain features of the Chime SDK that automatically end meetings when certain criter

[2020-09-03 18:48] p-foucht commented on #17
Resolving this ticket since the initial question was answered. We'd like to keep issues and questions searchable for other developers, so if you have more questions feel free to file another ticket.

[2020-09-03 18:48] #17 closed, assigned to nobody

[2020-09-04 05:39] prabhupadhayay opened #19 "Unable to deploy two or more live events demo applications(town-hall) on AWS."
Hi @p-foucht
I am trying to deploy the live event sdk to host  multiple events at a time (parallel)  but I getting some errors
![Screenshot from 2020-09-04 19-02-02](https://user-images.githubusercontent.com/51395692/92245329-d8c40a00-eee1-11ea-9a36-dc218f27c78c.png)
.

[2020-09-04 15:40] p-foucht commented on #19
Hi prabhupadhayay,

It sounds like the stack that got setup in your AWS account is in "ROLLBACK_COMPLETE" state. If you go to the Cloudformation service in AWS, it should give you more details.

If you are trying to deploy two individual instances, they need to be completely separate stacks/buckets/resources.

[2020-09-05 12:53] prabhupadhayay commented on #19
thanks for the response @p-foucht
I have deployed one stack(abc-broadcast stack ) by changing function name.
But I am unable to deploy the other two stacks.they are in "RollBack-Complete" state and I am not finding any solution to change my resource's name.Can You please tell me where i have to change name or resources for the same so that  i will be able to deploy whole live-event-app again.

[2020-09-07 06:26] opsvibhuti commented on #19
hi @p-foucht , @michhyun1 , @nicklera1

thanks for addressing the queries under this issue https://github.com/aws-samples/amazon-chime-live-events/issues/17
We are successfully run one Video Conference and One Live Event SDK model.

We are having issues in deploying multiple instances of these though.
"If you are trying to deploy two individual instances, they need to be completely separate stacks

[2020-09-08 03:58] prabhupadhayay commented on #19
Hi @p-foucht
Any Update for above Issues?

[2020-09-08 15:57] opsvibhuti commented on #19
Morning gentlemen , any update on it ?
We are waiting to deploy the same.

[2020-09-08 16:25] nicklera1 commented on #19
Hi @opsvibhuti , @prabhupadhayay ,

As per our [readme](https://github.com/aws-samples/amazon-chime-live-events/tree/master/src/backend/serverless#cloudfront-deployment-1) your each deployment instance would need to have unique `-b` <bucket_name>  and `-s` <stack_name> when executing following command `node ./deploy.js -r us-east-1 -b live-event-deployment-bucket -s live-event-deployment-stack`. D

[2020-09-08 16:30] prabhupadhayay commented on #19
Thanks for the response @nicklera1
Here we have successfully deployed that broadcast stack.Issue is with other remaining two.
For this Live event demo we have three stacks and we have successfully deployed one named -broadcast.we are not finding for the other two

[2020-09-08 16:35] prabhupadhayay commented on #19
It will be very helpful if you help us to find the names/titles for the resources to be changed to run separate instances

[2020-09-08 16:36] nicklera1 commented on #19
Have you look at [this](https://github.com/aws-samples/amazon-chime-live-events/blob/master/src/backend/serverless/deploy.js#L213) might help you with naming.

[2020-09-08 16:39] prabhupadhayay commented on #19
I have successfully deployed that broadcast-stack. But I am unable to deploy the other two remaining stacks

[2020-09-08 16:54] nicklera1 commented on #19
I see, One thing to note though, for each instance that you deploying you will need to have a Broadcast-stack deployed as well (live-events stack + broadcast stack)  You mentioned you have one stack fully working I would keep that working stack and remove (via AWS console) all mismatched/failed deployment stacks and start fresh and not try to fix deployment. One other thing as per your comment

Yo

[2020-09-08 17:00] prabhupadhayay commented on #19
It was not a seperate deployment. I am using node ./deploy.js -r us-east-1 -b <unique-deployment-bucket> -s <very-unique-deployment-stack>  this for deployment

[2020-09-09 09:45] opsvibhuti commented on #19
hi @nicklera1 , it make sense what you are suggested and we already tried that at first attempt by giving different bucket and stack name already.

I guess its not just giving different stackname and bucket name in that command only because we have tried that already and its something more deep , somewhere may be hardcoded.

As @p-foucht mentioned as well that s, they need to be completely separat

[2020-09-13 16:46] opsvibhuti commented on #19
any update ?
still waiting on the same to meet our goal and actually use AWS Chime in our solution than Zoom.

[2020-09-14 16:26] nicklera1 commented on #19
Hi @opsvibhuti
 I will try to replicate the issue on my side and see what I can came-up with.

[2020-09-14 19:00] nicklera1 commented on #19
Ok, after some testing I see that there is a default values are set in [transcoding](https://github.com/aws-samples/amazon-chime-live-events/blob/master/transcoding/template.yaml#L28) package: in particular [ECSClusterName](https://github.com/aws-samples/amazon-chime-live-events/blob/master/transcoding/template.yaml#L28), [ECSContainerName](https://github.com/aws-samples/amazon-chime-live-events/b

[2020-09-14 22:54] nicklera1 commented on #19
Hi @opsvibhuti, @prabhupadhayay.

I have merged the fix for the issue I was able to deploy 3 LiveEvents instances under same account.

Please test and let me know if you encounter any issues.

Thanks
Nick

[2020-09-15 06:48] opsvibhuti commented on #19
hi @nicklera1 ,

thanks for the same ! Prabhakar will be able to retry tomorrow morning and we shall let you know if there be any issue.

[2020-09-15 23:20] nicklera1 commented on #7
Hi @naveedaziz
Based on the logs you provided I can see that there is already lambda named `broadcast-lambda` already exists and there for installation failed.
[code]

I would manually delete lambda function named `broadcast-lambda` and try again.

Also, yesterday I [merged](https://github.com/aws-samples/amazon-chime-live-events/pull/20) related to this issue and so if you could please pull the l

[2020-10-12 23:25] #19 closed, assigned to nobody

[2020-10-26 07:39] prabhupadhayay commented on #19
hi @nicklera1 @p-foucht

I got into issue with multi-deployments again .As I am not able to deploy more than 3 live events now.

My stack always encountered in "ROLLBACK_COMPLETE" state whenever I try to deploy my 4th (more than 3 ) live events solution.
Please get back to me with solution.

[2020-11-25 18:08] devalevenkatesh commented on #7
Closing this issue since it is old and we merged [this](https://github.com/aws-samples/amazon-chime-live-events/pull/20) PR to fix the deployment.

Please feel free to re-open or create a new issue.

[2020-11-25 18:08] #7 closed, assigned to nobody

[2020-11-25 18:49] devalevenkatesh commented on #4
Yes, it may not be cross-platform since this demo was built and tested on Cloud9, macOS, linux but not on windows. We would appreciate if we get some help on making it compatible for Windows OS and make any minor adjusts to the deploy script.

As of now, we are keeping this issue open for developers to know about it and get some help.

Thanks.

[2020-12-15 18:39] nicklera1 commented on #3
I seem to unable to reproduce this issue might be limited to Firefox version.  Resolving for now! Feel free to re-open if still experiencing the issue. Please also provide the version of FF used.

[2020-12-15 18:39] #3 closed, assigned to nobody

[2020-12-22 06:02] pranjal-goswami commented on #3
Hi,
We see the firefox logo on the stream as well.
![image](https://user-images.githubusercontent.com/1142904/102854704-10cb6a80-4449-11eb-91ee-c3d8ba9c9cbb.png)

We are using the deploy script provided in the serverless cloud formation. (Deployed just a week ago)

The Dockerfile installs the latest release of Firefox for Debian, so I assume it would be 84.

[code]

Let me know if there is a fix f

[2021-02-17 15:47] RezowanTalukder opened #28 "How much time it takes to deploy in cloud?"
I have run this command `node ./deploy.js -r us-east-1 -b live-event-deployment-bucket -s live-event-deployment-stack
`  and its been 2 hours, still showing `executing sam [deploy............] ` I don't get it if its running or stuck somewhere. Can anyone tell me how much time it takes to deploy in serverless cloud ?

[2021-02-23 19:23] michhyun1 commented on #28
@RezowanTalukder it should not take that long, it should take a few minutes but is there no error being thrown?

[2021-03-05 07:02] #28 closed, assigned to nobody

[2021-03-05 07:03] RezowanTalukder commented on #28
Thanks it doesn't take long, there ware some errors.

[2021-03-06 07:45] archansel opened #30 "Cannot start the meeting"
Hi, I want to try this example by following this [article](https://aws.amazon.com/blogs/opensource/how-to-deploy-a-live-events-solution-built-with-the-amazon-chime-sdk/)

Deployment went smoothly and I already have 4 JSON files from `GenerateEventFunction`

When I tried to join as moderator it give me error `The meeting you tried to join does not exist`

![Screen Shot 2021-03-06 at 14 39 47](https

[2021-04-16 15:15] scredii opened #33 "Attendees cannot raiseHand"
When attendees click on "Raise Hand" we have a socket error:

[code]

Attendees and moderators are connected to the same socket URL:

[code]
Any solution ?

thank you

[2021-04-16 15:26] scredii opened #34 "Cannot get the main stream"
I followed this tutorial : https://aws.amazon.com/blogs/opensource/how-to-deploy-a-live-events-solution-built-with-the-amazon-chime-sdk/ to implement the demo.

I start the stream with the Broadcast lamdba and i indicate the url of the broadcaster retrieved from the s3 bucket (ex: https://xxxx.cloudfront.net/broadcast?aId=xxxx&eId=LiveEvent-xxxx&accessKey=xxx&name=xxx).

the stream starts correctl

[2021-04-16 17:27] michhyun1 commented on #33
Hi @scredii, thanks for bringing this up - we found this bug on our end yesterday also. I'll take a look and see if I can find out more. Thanks!

[2021-04-19 07:12] scredii commented on #33
Hi @michhyun1.
Thanks for your quick reply.
Do you have any update ?
thanks

[2021-04-28 15:57] dimabory commented on #3
@pranjal-goswami If you're still willing to find a solution please check out #36

[2021-05-08 06:48] vijayamin83 commented on #33
Is there any update on this?

[2021-05-11 17:35] michhyun1 commented on #33
@scredii @vijayamin83 sorry for the delay, I need to take a deeper look into this, I'll try to post an update by the end of the week if that is okay with you.

[2021-05-17 08:18] msgoo7 commented on #33
Hi,
Facing same issue, Attendees not able to join also and not able to raise hand. Can you please update.

[2021-05-19 16:01] michhyun1 commented on #33
@scredii @vijayamin83 @msgoo7 thank you for your patience. I've been able to reproduce this, I see the following:

![image](https://user-images.githubusercontent.com/54328451/118732790-dabfc600-b7ef-11eb-8e2d-51917e085cb2.png)

I do notice that the console log says that the attendee is not authenticated. Can you confirm this is the same for you?

[2021-05-20 06:18] msgoo7 commented on #33
Hi @michhyun1 ,Thanks for your response.
I am getting the same error.
There is no issues in broadcast, moderator and talent. But when we login to attendee page via the url from s3 bucket, got a similar response which you attached in the image.
Due to which when attendees raised hand , no notification is there to the moderator and also when the moderator broadcast the live session, attendees is als

[2021-05-20 06:21] msgoo7 opened #43 "Template error: Fn::Select cannot select nonexistent value at index 1"
Hi Team,

I am getting the below 2 errors, please can anyone help.
while running command:-
node ./deploy.js -r us-east-1 -b new-test-deployment-bucket -s live-event-stack-new-test

Template error: Fn::Select cannot select nonexistent value at index 1

The following resource(s) failed to create: [PublicSubnet2, EC2InstanceProfile, BroadcastLambdaFunction, PublicRouteTable]. Rollback requested by us

[2021-05-20 09:12] Ashrma2021 commented on #33
I am getting below error while trying to raise hand.

![image](https://user-images.githubusercontent.com/82191937/118952378-86485200-b979-11eb-9930-238bb6d09e23.png)

[2021-05-20 17:41] michhyun1 commented on #43
Hi @msgoo7, can you confirm your OS and node version?

[2021-05-20 18:06] vijayamin83 commented on #33
@michhyun1 it show attendee unauthenticated, even if I use the authenticated attendee for that particular events.
Where as other users like moderator, talent and broadcaster.
I have cross verified in the dynamo table also and it contain the valid data. But still getting an error.

[2021-05-20 20:51] michhyun1 commented on #34
You don't need to navigate to the broadcaster URL directly. Please join the meeting as an Attendee, Moderator or Talent. Make sure you have generated the live events resources: https://github.com/aws-samples/amazon-chime-live-events#creating-live-event-resources

Also, make sure you have followed all of the instructions here for deploying server-less -https://github.com/aws-samples/amazon-chime-li

[2021-05-21 01:06] michhyun1 commented on #33
@vijayamin83 @Ashrma2021 @msgoo7 @scredii

Thanks all for your patience - it seems like there was a bug introduced when we updated our dependency to the SDK to 2.0.0.

I've gone ahead and deployed a version using the git commit hash (30c8f9e3ad66825a7088e2f4843cebdf33c51ca4) - This is the commit right before the update to the 2.0.0 version of the SDK. You may want to do the same, as the raise hand

[2021-05-21 06:17] Ashrma2021 commented on #33
Hi, We are still having issue. This time error is different.

![image](https://user-images.githubusercontent.com/82191937/119091250-67ee5f00-ba2a-11eb-8eb0-617bcd352dfd.png)

[2021-05-21 17:27] michhyun1 commented on #33
@Ashrma2021 Please check that you've create a completely new stack and bucket before trying again. Which commit are you using?

![image](https://user-images.githubusercontent.com/54328451/119175672-f78e1080-ba1e-11eb-8ae8-45eb12521399.png)

I'm able to see the raised hand in the moderator's view using the https://github.com/aws-samples/amazon-chime-live-events/commit/30c8f9e3ad66825a7088e2f4843ceb

[2021-05-24 10:55] msgoo7 commented on #43
Hi @michhyun1 , thanks for you response.
It was some VPC issue. Fixed now..

[2021-05-24 16:51] #43 closed, assigned to nobody

[2021-05-24 21:19] michhyun1 commented on #33
Also, You should make sure to enable the CORs extension.

[2021-05-26 17:58] michhyun1 commented on #30
@archansel I haven't personally run into this before - in order to be unblocked, maybe you can try deleting your old bucket and stack and re-deploying to a completely new stack and bucket, re-generate your moderator/talent/attendee/broadcast resources and try it again. Please let us know if you run into the same issue.

[2021-05-27 00:41] michhyun1 commented on #34
closing due to inactivity: please reopen if you have any other questions! Thanks

[2021-05-27 00:41] #34 closed, assigned to nobody

[2021-05-28 07:03] vijayamin83 commented on #33
I have tried attendee view with downgrading chime sdk as "30c8f9e", but still I am not able see the attendee view.

<img width="847" alt="image" src="https://user-images.githubusercontent.com/468540/119943552-cf6b5800-bfb0-11eb-847a-39803d0d1038.png">

[2021-05-28 20:21] michhyun1 commented on #33
@vijayamin83 it seems as if the attendee URL works, but there is no video feed. In order to enable the video feed on the Attendee view, you need to follow a few more steps.

Make sure you have completed all of the steps [here](https://github.com/aws-samples/amazon-chime-live-events/tree/master/src/backend/serverless#instructions).

One more thing you may need to do is follow [this guide](https://g

[2021-06-03 04:59] vijayamin83 commented on #33
@michhyun1 I have followed the all steps as you mentioned above. Also started the channel ID in MediaLive before broad casting. But still, I am not able to get the attendee video working.

When I check the related MediaPackage HLS stream it also not working. Please see the screen shot.

<img width="881" alt="image" src="https://user-images.githubusercontent.com/468540/120589459-8145d100-c456-11eb-

[2021-06-03 10:41] vijayamin83 commented on #33
I have also checked the "30c8f9e" commit. But still getting the error.

<img width="1187" alt="image" src="https://user-images.githubusercontent.com/468540/120632091-39d73900-c486-11eb-8175-01e9d6fa5026.png">

[2021-06-03 22:06] michhyun1 commented on #33
You may want to double check the transcoding start lambda test event. You'll need to stop the transcoding and then start it again with the test event being:
[code]

[2021-06-07 10:34] vijayamin83 commented on #33
Ok I am able to run this broadcast lambda function, But stilll I am not getting the attendee view's video.

Also, can you explain the process of the connect/disconnect and raising hand process by attendee?

[2021-06-08 21:15] michhyun1 commented on #33
The raise hand feature should not be correlated to the attendee video not showing. You may want to confirm that you are using the correct rtmpEndpoint when starting transcoding. And you should also make sure you've started the MediaLive channel - the ID is specified in the cloudformation outputs. In some cases, you may want to redeploy a new stack in case something was updated incorrectly.

[2021-06-09 07:15] vijayamin83 commented on #33
@michhyun1 Yes, I have found the flow of the raise hand.

But I am still don't get the attendee video when I test transcoding lambda function.

So, Let me explain you. I put my broadcast url in the test event and I also run the broad cast url in my local browser. So, is this something that will be broadcasted to RTMP endpoint?

Or Should I have to use the OBS software to stream the RTMP EndPoint s

[2021-06-09 14:31] vijayamin83 commented on #33
I have confirmed that I am using the correct Media Live Channel ID. Also set the proper RTMP endpoint. But still getting the error.

[2021-06-09 17:24] michhyun1 commented on #33
@vijayamin83 Ah I see. You may not be seeing the video because you are joining with the broadcast URL. You shouldn't need to open the broadcast URL at all.

[2021-06-10 12:14] vijayamin83 commented on #33
@michhyun1 I am not opening the broadcast URL in my system or any where. But still I can't see the video on the Attendee Video.

Another question, If broadcast url open in the EC2 on the fly, then which video/audio it will be broadcast?

[2021-06-10 21:38] michhyun1 commented on #33
@vijayamin83 that depends on which URL you use when you start the transcoding lambda:
[code]

The meeting URL field should be the broadcast URL that should be part of the CloudFormation Outputs when you deploy your live events stack. Similarly, the rtmp endpoint should be the MediaLivePrimaryEndpoint in your CloudFormation output

[2021-06-10 21:39] michhyun1 commented on #33
@vijayamin83 Can you please create a new issue for the attendee video not showing - it is unrelated to the raise hand feature

[2021-06-11 06:13] vijayamin83 opened #48 "Attendee Video not rendering"
When I broadcast the URL with testing the 'broadcast-lambda' function, it does not rendering into the Attendee view.

FYI, I am broadcasting the URL, which I got from the JSON file which is created in S3 bucket. Am I doing the wrong?

[2021-06-11 06:13] vijayamin83 commented on #33
creating the new ticket https://github.com/aws-samples/amazon-chime-live-events/issues/48

[2021-06-11 19:26] michhyun1 commented on #48
@vijayamin83 yes that is the correct URL to broadcast. What did you use for the rtmp endpoint?

One thing to check is this - once you join the moderator's url and join the meeting, turn on your video and go 'live'.

Do you notice the broadcaster attendee show up in your roster on the moderator view?

Also, please send me a screenshot of the console in the attendee view. Thanks

[2021-06-14 08:04] vijayamin83 commented on #48
@michhyun1

Yes I have tried with the moderator view also with turning ON and going "Live".

I am not seeing the Broadcaster user in the moderator view. And I think that is the issue.

See the screen shots.

<img width="1098" alt="image" src="https://user-images.githubusercontent.com/468540/121858934-c1d60200-cd14-11eb-9c01-9cfa2ee01165.png">
<img width="1263" alt="image" src="https://user-images.

[2021-06-15 20:37] michhyun1 commented on #48
![image](https://user-images.githubusercontent.com/54328451/122119197-c1556e00-cddd-11eb-9d52-cf14f14ff830.png)

Okay, just to double check - these are the steps that I took:

1. Check out commit https://github.com/aws-samples/amazon-chime-live-events/commit/30c8f9e3ad66825a7088e2f4843cebdf33c51ca4
2. Create the custom resources using CSV files for attendee, moderator, and talent
3. Joined the pro

[2021-06-15 23:35] michhyun1 commented on #30
closing due to inactivity - please reopen if the issue still exists

[2021-06-15 23:35] #30 closed, assigned to nobody

[2021-06-17 10:46] mobcoder-deepanshu opened #49 "Issue to running demo of live event amazon chime"
Actually, I run a demo of live event through chime sdk
here is the link from which i refer to run demo - https://aws.amazon.com/blogs/opensource/how-to-deploy-a-live-events-solution-built-with-the-amazon-chime-sdk/
So I stuck in the middle run and didn't run the demo on my local system so can you explain me the steps so i can easily run the demo.
And Readme is not properly understandable, there is

[2021-06-17 10:53] #33 closed, assigned to ldai1, michhyun1

[2021-06-17 23:31] michhyun1 commented on #49
hi @mobcoder-deepanshu, thank you for your interest in the live events demo. We are currently working on improving this README. For now, I suggest trying to deploy a server-less demo to try this out. You can run each app locally, but there are some cloud backend resources you'll need to deploy for the demo to work correctly.

Please note that following the steps below will incur some AWS charges.

[2021-06-18 14:05] tindevelopers commented on #48
Hello @michhyun1

I have checked out the previous version. Deleted the existing stacks and setup and followed the same steps are you mentioned above. But still I am not able to get the broadcaster in the moderator.

Also, how I can debug the EC2 for the broadcaster?

[2021-06-18 17:32] michhyun1 commented on #48
I've been able to setup 5 different live events stacks where the video works as expected. Perhaps you can refer to the steps noted in this issue: https://github.com/aws-samples/amazon-chime-live-events/issues/49

[2021-06-19 11:22] vijayamin83 commented on #48
Today, I have tried at least 3 times with fresh setup and mentioned commit version. but still Getting the error.

<img width="949" alt="image" src="https://user-images.githubusercontent.com/468540/122640708-9f7e2300-d11e-11eb-873c-b69b7aed9975.png">

here, I am sure that there is something wrong with ECS task only. Is there any way that I can debug that?

[2021-06-19 14:00] vijayamin83 commented on #48
I am getting the following error with the ECS tasks log:

Status reason | CannotPullContainerError: Error response from daemon: manifest for XXXXXXXXXX.dkr.ecr.us-east-1.amazonaws.com/chime-liveevent-stk35-broadcast:latest not found: manifest unknown: Requested image not found

[2021-06-21 16:47] michhyun1 commented on #48
@vijayamin83 can you double check that the cloudformation stack has no errors when you deployed the live events stack? Thanks

[2021-06-22 06:25] vijayamin83 commented on #48
@michhyun1 No It does not have any issue in the Cloudformation.

While digging into the bug, I have found that, If I run the push commands on the ECR repository, then broadcasting video work for me. But I have to do manually from the AWS ECR Consol. I think this should be managed from the deploy script only?

[2021-06-22 19:03] michhyun1 commented on #48
@vijayamin83, we should upload the image to the ECR repo automatically when you start the transcoding lambda. You can see in our README [here](https://github.com/aws-samples/amazon-chime-live-events/blob/master/transcoding/README.md#whats-in-behind) that we explain that the ECR image should be uploaded in the deploy script. Can you try to use the '-n' option when you call deploy script? [Here is a

[2021-06-22 19:24] michhyun1 commented on #48
ah - I think I might know why. You have to have a docker instance running. That's probably why its not being uploaded to ECR. Please have a docker instance running locally and try again. Thanks!

[2021-06-23 06:16] mobcoder-deepanshu commented on #49
Hi @michhyun1
Thanks for the helpful response and describe everything very well.But That's not enough for me to run this demo.
So,I didn't understand the cloud formation and from where i found stack name.
Can we connect through zoom or google meet or skype to run this demo on my local machine because it's urgent for me.

Best Regards
Deepanshu Garg

[2021-06-23 08:19] revilwang opened #51 "Region input is ignored in some resource creation"
I run the `deploy.js` file as the following:

[code]

However, not everything is created inside the region. The `chime-demo-stack-broadcast` CloudFormation stack and `chime-deployment-demo-bucket-broadcast` bucket are created in us-east-1, which leads the following `chime-demo-stack` in ap-northeast-1 region failed to find dependent resources:

[2021-06-23 10:12] paul365 opened #52 "Separate Live and Holding room audio?"
Hi guys! Can you guide me on how to separate live and holding room audio? Right now when you unmute from the holding room you will be heard in the live broadcast. We would like to have moderators and attendees able to speak with each other in the holding room before pushing them live. I know this would require an additional chime meeting to run but how to implement it? Thanks!

[2021-06-23 18:09] michhyun1 commented on #49
@mobcoder-deepanshu you can find the stack name in the aws cloudformation console - there are multiple tabs that show you the created resources and outputs.

[2021-06-23 18:13] michhyun1 commented on #49
Apologies, we won't be able to join any call with you directly. If you need additional please come via the support channels. You can find more information [here](https://github.com/aws/amazon-chime-sdk-js#troubleshooting-and-support).

[2021-06-23 18:16] michhyun1 commented on #52
Yes, that is the point of the holding room - a moderator should be able to "bring in" an attendee to a holding room in order to vet them before they are promoted to the live event. https://aws.amazon.com/blogs/opensource/how-to-deploy-a-live-events-solution-built-with-the-amazon-chime-sdk/

Can you elaborate more on "Right now when you unmute from the holding room you will be heard in the live bro

[2021-06-23 18:18] michhyun1 commented on #52
There are three routes within the attendees app - https://github.com/aws-samples/amazon-chime-live-events/blob/master/src/components/attendee/Root.tsx#L37-L53

One is for when the attendee is just viewing, one is for the dressing room view, and the other is the meeting view.

[2021-06-23 18:19] michhyun1 commented on #51
@revilwang thanks for bringing this to our attention. At this time, we suggest using the default 'us-east-1' region so that you won't run into this issue. We've noted this issue and we'll try to get back to this as soon as we can. Thanks

[2021-06-23 18:30] paul365 commented on #52
Thanks for the response @michhyun1
Yup, but once they are vetted in and already in the holding room but not yet live. When you unmute the attendee they can be heard also on the live event (not having to promote them to live yet).

Using this repo and using the Moderator and Attendee views. What we want to achieve is to be able to talk to people inside the holding room without it being heard in the

[2021-06-23 19:00] michhyun1 commented on #52
@paul365 are you broadcasting the Broadcast URL in the transcoder lambda test function? That seems odd that you'd hear the attendee audio while in the holding room because there should be separate meetings for each moderator/attendee 1:1.

[2021-06-24 03:06] paul365 commented on #52
@michhyun1 We don't hear the 1:1 on the live event. But would also want the holding room audio to be not heard from live event. So that attendees and moderators in the holding room would be able to speak to each other while not yet promoted to live.

[2021-06-24 06:26] mobcoder-deepanshu commented on #49
@michhyun1 ok no problem.
I have some doubt can you clear that-

1.Why we use stack name or cloud formation in this?
2.Do we have any other option without using stack name ?
3.In this demo what is the use of stack name ?

Because i didn't understand cloudformation or stack after i read thorughly about this but not satisfied
Can you explain Please!

Thanks

[2021-06-24 18:43] michhyun1 commented on #49
@mobcoder-deepanshu You can refer to the [cloudformation documentation](https://aws.amazon.com/cloudformation/). Cloudformation allows us to deploy AWS cloud resources that are required to run this demo serverlessly. This includes lambda functions, EC2 instances, and much more. You can see the resources generated by going to the cloudformation stack that you created as part of the deploy script. I

[2021-06-25 02:38] paul365 commented on #52
Closing this. We've found how to do it. Thanks!

[2021-06-25 02:38] #52 closed, assigned to nobody

[2021-06-25 17:26] michhyun1 commented on #48
@vijayamin83 Has this resolved your issue? If so, please feel free to close the issue.

[2021-06-26 07:13] vijayamin83 commented on #48
yes, it's working

[2021-06-26 07:14] #48 closed, assigned to michhyun1

[2021-06-29 09:53] mobcoder-deepanshu commented on #49
Hi @michhyun1,

I have an question regrading cloud formation that why we use cloud formation in this demo?
Can we have any alternative or any other option without using this service?

Please can you explain me regarding this.

Thanks

[2021-06-30 19:42] michhyun1 commented on #49
@mobcoder-deepanshu This is a demo to show how to build a live events solution. CloudFormation is used by most of our demos, the alternative is you can configure and create each of the resources in the cloud manually - however, this demo does not aim to show you how to do this. You may want to refer to the CloudFormation documentation to learn more. If you have a specific question about this demo,

[2021-06-30 19:42] #49 closed, assigned to michhyun1

[2021-07-02 03:44] mobcoder-deepanshu opened #53 "why we use cloud formation in this demo?"
Hello

I have an query that why we use cloud formation in this demo and there is any other alternative without using cloud formation ?

Do we have another demo without cloud formation?

Thanks

[2021-07-02 20:50] michhyun1 commented on #53
@mobcoder-deepanshu You may try using [CDK](https://aws.amazon.com/cdk/) if you'd prefer, but under the hood, CDK also uses CloudFormation. AWS CloudFormation allows you to create your AWS Cloud resources programmatically instead of manually through the AWS console.

If you'd like to create the resources manually, that is an option, but we prefer to use cloudformation in our demos so that it is ea

[2021-07-02 20:50] #53 closed, assigned to nobody

[2021-08-26 09:41] AnkurSavaliya opened #58 "Command sam failed with ENOENT"
Hey,

When i try to deploy Start/Strop broadcasting service by using AWS CLI in windows os.
i get this Error message : "Command sam failed with ENOENT"

I already install SAM CLI version 1.29.0, AWS CLI 2.
I also execute sam --version command.

[2021-08-27 23:19] ldai1 commented on #58
Hi，

Thanks for reporting the issue. Can you provide a more detailed log for the error?

Also, just want to double check with you, are you installing the SAM CLI on a 32-bit system or a 64-bit system? If you are on a 320-bit system, you can try to use `pip install aws-sam-cli` to install SAM. If you are using a 64-bit system, you can follow the instructions [here](https://docs.aws.amazon.com/serve

[2021-08-28 14:12] AnkurSavaliya commented on #58
Hi @ldai1 ,

I am using 64 bit system, i also get CLI version by execute command, this error occur while i am deploying Start/Stop broadcast service.

This error occur while execute this command : `node ./deploy.js -b broadcast-lambda-cf-deploy-bucket -s broadcast-lambda-cf-stack -n broadcast-lambda -r us-east-1
`
i follow this step for deploying this service  : https://github.com/aws-samples/amaz

[2021-08-30 17:23] michhyun1 commented on #58
@AnkurSavaliya Can you post the full error message? Please make sure to choose a custom stack and bucket name - do not use the stack name and bucket in the example

[2021-09-30 10:49] AnkurSavaliya opened #62 "How to Run Multiple Broadcasting task in Same instance"
Hi All,

I am want to run multiple tasks for broadcasting, then I got Resource Error.
How can we run Multiple Broadcasting task at time.

[2021-10-07 04:00] mobcoder-deepanshu opened #63 "Issue regarding ecs service"
Hello,

I am doing streaming through using ecs service and running task so when i have to take cpu 4gb streaming run smoothly and when i reduced the cpu size to 2gb then its buffer the video.

It occurs huge amount of aws bill so i want to know the alternate solution for this.
From this can we reduce our cost from using any other services.please look into this issue asap.

Best Regards
Deepanshu G

[2021-10-12 05:17] ldai1 commented on #63
Hi,

Seems like you can reduce the video size by passing in a different value here: https://github.com/aws-samples/amazon-chime-live-events/blob/6aac866c6dd3a196db52f90cfd4095d35c158e0b/transcoding/run.sh#L85. Some value can be configurable like SCREEN_RESOLUTION, VIDEO_FRAMERATE and VIDEO_BITRATE. Please try and let us know if this approach works for you.

[2021-10-12 19:28] michhyun1 commented on #62
@AnkurSavaliya It would help if you could give more context as to what you are trying to do. Where is the resource error coming from and what did you change to get that error?

[2021-10-22 05:34] preeti-jaswal opened #65 "Amazon Chime Url Issue in IOS device Responsive + Black Screen Video + Promoting attendee to live"
Hi ,
I run the moderator ,attendees and talent url on the web after the deployment ,everything seems to be working fine on it .
But when I run those urls on the mobile(Android /IOS) platforms in my react-native app (inside react-native-webview).I am getting issues for responsiveness.Design seems to be broken on the mobile platform.

Any help would be appreciated
Thanks in advance.

[2021-10-29 01:22] nainkunal933 commented on #65
Hi @preeti-jaswal,

Thank you for opening this issue. Can you please provide some more details on what kind of responsiveness issues you are running into?

For this, a screenshot of the broken design will be helpful.

[2021-10-29 06:43] preeti-jaswal commented on #65
Hello @nainkunal933,
Though I have run the the Moderator and Attendee Url on Mac ,Linux and android Chrome Browser and all are working fine in it but when I run the same Url on IOS inside chrome browser it
Shows “You’re using an unsupported browser.We recommend using Firefox or chrome.”,
And when run on the safari browser it shows the Video get stuck and it starts showing black screen and when we

[2021-10-29 20:56] nainkunal933 commented on #58
@AnkurSavaliya Do you still need help with this issue? Can I close it?

[2021-10-29 21:00] nainkunal933 commented on #63
@mobcoder-deepanshu Were you able to reduce the video size following Lu's suggestion? Do you still need assistance?

[2021-11-01 17:28] nainkunal933 commented on #58
Closing issue due to inactivity. Please feel free to reopen the issue if you need help.

[2021-11-01 17:28] #58 closed, assigned to nainkunal933

[2021-11-01 18:00] jing-chen1 commented on #62
Closing this issue, feel free to reopen it if you still have problems

[2021-11-01 18:00] #62 closed, assigned to nobody

[2021-11-02 17:09] nainkunal933 commented on #63
Closing this issue due to inactivity. Please feel free to reopen if you still need help.

[2021-11-02 17:09] #63 closed, assigned to nainkunal933

[2021-11-03 23:08] nainkunal933 commented on #65
Hi @preeti-jaswal,

I have looked into the issue and I am sorry the demo does not render well on mobile. It wasn't originally designed to render well on mobile - however we welcome contributions if you wish to engage and improve it

[2021-12-30 11:26] mustafasavul opened #68 "The project does not stand up even though I run it according to the project instructions."
Hello, when I wanted to stand up the sample project, I made the installations as in the README.md file. However, it didn't work, so I did a run through the Ubuntu terminal and this time it gave the following error.
![image](https://user-images.githubusercontent.com/19707331/147747653-7dad03d8-3bb1-4603-9ef9-008d84e0c509.png)

I installed all npm packages. However, this error still does not go away

[2021-12-30 14:18] codeslinger commented on #68
It doesn't look like we have a symbol named `heartbeatInterval` in this repository. Is it possible that this is related to your specific setup somehow?

[2021-12-30 22:58] mustafasavul commented on #68
I got the same error when I pulled the repo directly and followed the instructions, except for the custom installation. There were some suggestions about "heartbeatInterval" in a Chinese forum, I applied them too, but I was not successful. Did you pull it to your computer and test it?

[2022-01-05 13:13] itsbeautifullife opened #69 "MediaLive cannot get Input"
I have successfully deployed this demo using Cloud9 as per the instructions given over [here](https://aws.amazon.com/blogs/opensource/how-to-deploy-a-live-events-solution-built-with-the-amazon-chime-sdk/ )
Uploaded _Attendees.csv_, _Moderators.csv_, _Talents.csv_ . And got the JSON files with details of joining and access keys

From deployment output
[code]

After following "Starting your broadcas

[2022-01-05 23:28] michhyun1 commented on #68
@mustafasavul Can you please show me the error when you build it? I assure you, you don't need the heartbeatInterval, not sure where you got that from. Thanks

[2022-01-05 23:36] michhyun1 commented on #69
@itsbeautifullife  Have you completed the steps after this? Im referring to the steps related to `BroadcastLambdaFunction`?

Let me know. Thanks

[2022-01-06 06:39] mustafasavul commented on #68
Thank you the project normally
when i install it on windows package cannot access node_modules in json. I researched this and they suggested I run it with ubuntu terminal. After downloading and installing Ubuntu from the store, I added node-js to it and called the latest version. Then the project stood up without fail. It was a really weird problem and solution :D

[2022-01-06 06:39] #68 closed, assigned to nobody

[2022-01-06 08:37] itsbeautifullife commented on #69
Thanks @michhyun1 for your feedback I have again re-deployed the solution on cloud9 and followed these steps

[code]

[code]
Then I Uploaded 3 csv file to this  bucket

Key                 **CustomerImportS3Bucket**
Value               **vin-ss-101-f8m9o-stack-customer-import**

[Attendees.csv](https://github.com/aws-samples/amazon-chime-live-events/files/7820432/Attendees.csv)
[Moderators.csv](ht

[2022-01-06 21:02] michhyun1 commented on #69
@itsbeautifullife Can you check the ecs task to see if there are any errors printed?

Also, perhaps you can try using [this option](https://github.com/aws-samples/amazon-chime-live-events/blob/master/src/backend/serverless/deploy.js#L35) to start the mediaLive channel when the stack is created. Then you can do the transcoding afterwards.

Let me know if either of those things help. Thanks

[2022-01-06 21:03] michhyun1 commented on #69
I think one common problem that I've seen in the past is also related to Docker. Please make sure you have that running

[2022-01-14 01:01] michhyun1 commented on #69
@itsbeautifullife any update?

[2022-01-26 18:21] michhyun1 commented on #69
Closing issue due to inactivity

[2022-01-26 18:21] #69 closed, assigned to nobody

[2022-07-15 17:58] jimmihagenTrifecta opened #77 "least access privileges, what are they?"
AWS documentation encourages least access rights for users, but it's very unclear what all is needed to run this example.

What are the permissions needed to deploy this app successfully?

[2022-07-20 19:13] jimmihagenTrifecta opened #79 "talent and attendee views do not get stream, moderator sees users drop and come back to list of attendees"
our deployment has what can only be described as extremely bad performance issues

- attendee and talent only occasionally see flickers of shared video from the moderator
- moderator sees attendee and talent that have joined the meeting disappear from attendee list
  - promotion of users sticks between them showing in the list - they aren't leaving and rejoining

  are there resource limitations,